/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');




// fonts
$base-font-size: 15px;
$body-font: "Plus Jakarta Sans", sans-serif;
$body-font-s2: "Urbanist", sans-serif;
$heading-font: "Playfair Display", serif;


// color
$title: #081933;//
$body-color: #f1efef;
$white: #ffffff;
$small-white: #F6F5FF;
$light: #A39FBA;
$olio: #FEF6E9;
$black: #000;
$small-black: #262b3e;
$pra: #7A7A7A;

$template-color: #D3224D;//
$template-color-s2: #138999;
$template-color-s3: #8139e7;
$body-bg-color: #fff;
$section-color: #0A0049;
$text-color: #03060E;//
$text-light-color: #7385A1;
$heading-color: $title;
$border-color: #D3DBE2;//
$border-color-s2: #d9dde4



  