/*11. blog_single_page */
.blog_single_page {
    @media (max-width:991px) {
        padding-bottom: 60px;
    }
    @media (max-width:767px) {
        padding-bottom: 50px;
    }
    .blog_single_wrap {
        .image {
            margin-bottom: 30px;

            img {
                width: 100%;
            }
        }

        ul {
            margin-bottom: 20px;

            li {
                display: inline-block;
                font-size: 17px;
                color: rgb(51, 51, 51);

                span {
                    font-size: 17px;
                    color: rgb(255, 255, 255);
                    text-align: center;
                    background: $template-color;
                    padding: 4px 20px;
                    text-transform: uppercase;
                    border-radius: 100px;
                    margin-right: 20px;
                }
            }
        }

        h2 {
            font-size: 22px;
            color: rgb(20, 64, 71);
            font-weight: 700;
            padding-right: 100px;
            margin-bottom: 20px;

            @media (max-width:1399px) {
                padding-right: 0;
            }
            @media (max-width:767px) {
                font-size: 20px;
            }
        }

        p {
            font-size: 16px;
            color: rgb(99, 99, 99);
            line-height: 1.625;
        }



    }

    .blog_format_standard {
        margin: 80px 0;
        max-width: 730px;
        background-color: rgb(227, 236, 241, 0.4);
        padding: 70px 65px 40px 70px;
        position: relative;
        @media (max-width:767px) {
            padding: 30px 20px 30px 35px;
        }
        .shape {
            position: absolute;
            right: 50px;
            bottom: 50px;
            z-index: -1;
            @media (max-width:767px) {
               display: none;
            }
        }

        .top_text {
            font-size: 17px;
            color: rgb(99, 99, 99);
            font-style: italic;
            position: relative;

            &::before {
                position: absolute;
                left: -30px;
                top: 0;
                content: url(../images/blog-single/qa2.png);
            }
        }

        .content {
            display: flex;
            align-items: center;
            margin-top: 20px;

            .image {
                width: 95px;
                height: 95px;

                img {
                    border-radius: 100px;
                }
            }

            .text {
                width: calc(100% - 100px);
                margin-left: 30px;
                @media (max-width:767px) {
                    margin-left: 10px;
                }
                h2 {
                    font-size: 22px;
                    color: rgb(20, 64, 71);
                    font-weight: 700;
                    @media (max-width:767px) {
                        font-size: 20px;
                    }
                    span {
                        font-size: 17px;
                        color: #636363;
                        font-weight: 400;
                        @media (max-width:767px) {
                            font-size: 15px;
                        }
                    }
                }

                ul {
                    li {
                        display: inline-block;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .blog_gallery {
        margin-top: 50px;
    }

    .comment_area {
        .comment_wrap {
            max-width: 700px;

        }

        .comment_one {
            padding-left: 50px;
            border-bottom: 1px solid $border-color-s2;
            @media (max-width:767px) {
                padding-left: 20px;
            }
            &:first-child {
                padding-left: 0;
            }

            .content {
                display: flex;
                align-items: center;
                padding-top: 40px;
                padding-bottom: 50px;


                .image {
                    width: 90px;
                    height: 90px;

                    img {
                        border-radius: 100px;
                    }
                }

                .text {
                    width: calc(100% - 100px);
                    margin-left: 20px;
                    position: relative;

                    h2 {
                        font-size: 22px;
                        color: $heading-color;
                        font-weight: 700;
                        @media (max-width:767px) {
                            font-size: 20px;
                        }
                    }

                    p {
                        font-size: 15px;
                        color: rgb(99, 99, 99);
                    }

                    span {
                        font-size: 17px;
                        color: rgb(99, 99, 99);
                    }

                    a {
                        font-size: 17px;
                        color: $template-color;
                        position: absolute;
                        right: 80px;
                        bottom: 0;
                        @media (max-width:767px) {
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    .comment_respond {
        margin-top: 80px;

        h2 {
            margin-bottom: 30px;
        }

        .from-contol {
            background-color: #fff;
            width: 100%;
            height: 70px;
            border: 1px solid rgb(74, 76, 89);
            border-radius: 5px;
            padding: 6px 20px;
            margin-bottom: 30px;
            outline: 0;
            box-shadow: none;
            transition: all 0.3s;

        }
    }
}